
<div class="container" *ngIf="persona">
  <div class="row">
        <form  (ngSubmit)="onUpdate()" novalidate #f="ngForm" [formGroup]="form">
          <div class="mb-3">
            <div class="form group">
              <label for="img" class="form-label">Foto Banner</label>
              <input class="form-control form-control-sm" id="img" type="text" formControlName="img" [(ngModel)]="persona.img">
          </div>
        </div>
            <div class="mb-3">
              <div class="form group">
              <label for="nombre" class="form-label">Nombre</label>
              <input class="form-control form-control-sm" id="nombre" formControlName="nombre" type="text" [(ngModel)]="persona.nombre">
            </div>
          </div>
          <div class="mb-3">
            <div class="form group">
            <label for="apellido" class="form-label">Apellido</label>
            <input class="form-control form-control-sm" id="apellido" formControlName="apellido" type="text" [(ngModel)]="persona.apellido">
          </div>
        </div>
        <div class="mb-3">
          <div class="form group">
          <label for="titulo" class="form-label">Titulo</label>
          <input class="form-control form-control-sm" id="titulo" formControlName="titulo" type="text" [(ngModel)]="persona.titulo">
        </div>
      </div>
        <button type="button" class="btn btn-secondary" (click)="volver($event)" >Cerrar</button>
        <button type="submit" class="btn btn-primary" (click)="onEnviar($event)" >Actualizar</button>
    </form>
  </div>
  </div>
    