<!--  Banner Section -->
<section id="hero" class="d-flex align-items-center" [style.backgroundImage]="persona.img" [style.backgroundSize]="'cover'" >
    <div class="container d-flex flex-column align-items-center">
      <h1> {{persona.nombre}} {{persona.apellido}} </h1>
      <h2>{{persona.titulo}}</h2>
      <button type="button" class="btn btn-secondary btn-lg rounded-2"> <a (click)="scrollToElement('#footer')"> Contactame! </a> </button>
      <br>
      <app-edit-banner></app-edit-banner>
    </div>
  </section>
  <!-- End Banner -->
<!--'url('+img+')'-->
