      <div class="container">
       <form (ngSubmit)="onUpdate()" novalidate #f="ngForm"></form>
       <div class="mb-3">
              <label for="formFileSm" class="form-label">Url de Imagen Perfil</label>
              <input class="form-control form-control-sm" id="formFileSm" type="text" formControlName="imagen" id="imagen" [(ngModel)]="smedit.imagen">
            </div>
            <div class="mb-3">
               <label for="exampleFormControlTextarea1" class="form-label">Sobre mí</label>
               <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" type="text" formControlName="texto" [(ngModel)]="smedit.texto"></textarea>
             </div>
      <div class="footer">
        <button type="button" class="btn btn-secondary">Cerrar</button>
        <button type="button" class="btn btn-danger">Guardar Cambios</button>
       </div>
      </div>
    
   

