<i class="fa-solid fa-plus" type="button" data-bs-toggle="modal" data-bs-target="#modalnuevo6" *ngIf="isLogged"></i> 
<!--Modal crear nuevo-->
<div class="modal" id="modalnuevo6" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Nueva Habilidad</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="limpiar()"></button>
        </div>
        <form [formGroup]="form" (ngSubmit)="submitData()" novalidate #f="ngForm" name="experienciaForm">
        <div class="modal-body">
              <div class="mb-3">
                <label for="habilidad" class="form-label">Nombre de la Habilidad</label>
                <input class="form-control form-control-sm" id="habilidad" formControlName="habilidad" type="text" [(ngModel)]="habilidad">
              </div>
              <div class="mb-3">
                <div class="mb-3">
                  <label for="imagen" class="form-label">Url de la Imagen</label>
                  <input class="form-control form-control-sm" id="imagen" formControlName="imagen" type="text" [(ngModel)]="imagen">
                </div>
              </div>  
              <div class="mb-3">
                <div class="mb-3">
                  <label for="descripcion" class="form-label">Descripcion</label>
                  <input class="form-control form-control-sm" id="descripcion" formControlName="descripcion" type="text" [(ngModel)]="descripcion">
                </div>
              </div>  
        <div class="modal-footer">
          <button type="button" class="btn btn-light" (click)="limpiar()">Limpiar</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary">Enviar</button>
          </div>
        </div>
        </form>