<!-- ======= Portfolio Section ======= -->
<section id="work" class="portfolio-mf sect-pt4 route" data-aos="zoom-in-up">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Mis Trabajos
            </h3>
            <p class="subtitle-a">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div *ngFor="let trabajo of worklist" class="col-md-4">
          <div class="work-box">
            <a [href]="trabajo.imagen" data-gallery="portfolioGallery" class="portfolio-lightbox">
              <div class="work-img">
                <img [src]="trabajo.imagen" alt="" class="img-fluid">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">{{trabajo.pagina}}</h2>
                  <div class="w-more">
                    <span class="w-ctegory">{{trabajo.categoria}}</span> / <span class="w-date">{{trabajo.fecha}}</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="w-like">
                    <a [href]="trabajo.url"> <span class="bi bi-plus-circle"></span></a>
                  </div>
                  <app-edit-portfolio></app-edit-portfolio>
                  <br>
                  <app-eliminar></app-eliminar>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Portfolio Section -->
  <br>
  <br>
  <br>
  <br>
  
