 <!-- ==============================================
    Contacto
    =============================================== -->
    <section id="footer">
        <div class="linea"></div>
        <br>
        <br>
        <div class="row foote-container">
        <div class="col-lg-6 align-items-center justify-content-left">
        <div class="align-content-center" id="contacto">
        <h2>Contactame!</h2>
      </div>
      <form>      
        <input name="name" type="text" class="feedback-input" placeholder="Nombre" />   
        <input name="email" type="text" class="feedback-input" placeholder="Email" />
        <textarea name="text" class="feedback-input" placeholder="Comentarios"></textarea>
        <input type="submit" value="Enviar"/>
      </form>
        </div>
        <!--Informacion-->
        <div class="col-lg-4 align-items-center justify-content-right">
          <div class="align-content-center" id="informacion">
            <h2>Evelyn Penfold</h2>
            <h3>Full Stack Web Developer Jr</h3>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius doloremque quaerat nam, tempora amet facilis velit cumque culpa consequatur beatae animi eaque labore iusto minima veritatis quo totam commodi. Ut?</p>
            <ul id="sociales">
              <li class="fa-brands fa-instagram fa-xl p-2"></li>
              <li class="fa-brands fa-linkedin-in fa-xl p-2"></li>
              <li class="fa-brands fa-github fa-xl p-2"></li>
            </ul>
          </div>
        </div>
        </div>
    </section>