<div class="container" *ngIf="hardskills">
  <div class="row">
        <form  (ngSubmit)="onUpdate()" novalidate #f="ngForm" [formGroup]="form">
          <div class="mb-3">
            <div class="form group">
              <label for="titulo" class="form-label">Nombre de la Habilidad</label>
              <input class="form-control form-control-sm" id="titulo" type="text" formControlName="titulo" [(ngModel)]="hardskills.titulo">
          </div>
        </div>
            <div class="mb-3">
              <div class="form group">
              <label for="progreso" class="form-label">Nombre</label>
              <input class="form-control form-control-sm" id="progreso" formControlName="progreso" type="text" [(ngModel)]="hardskills.progreso">
            </div>
          </div>
        <button type="button" class="btn btn-secondary" (click)="volver($event)" >Cerrar</button>
        <button type="submit" class="btn btn-primary" (click)="onEnviar($event)" >Actualizar</button>
    </form>
  </div>
  </div>
    