<!--Navbar-->
<nav id="navbar" class="navbar navbar-expand-lg order-last order-lg-0">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="//argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1659143423/APLogo-20-20.png" alt="argpprod" width="10%" height="10%">
    </a>
    <div class="d-flex mb-3">
    <i class="fa-brands fa-instagram fa-xl p-2"></i>
    <i class="fa-brands fa-linkedin-in fa-xl p-2"></i>
    <i class="fa-brands fa-github fa-xl p-2"></i>
    <a routerLink="/index"> <i class="fa-solid fa-arrow-right-from-bracket fa-xl p-2"></i> </a>
  </div>
  </div>
</nav>

