<section id="skills" class="skills section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Hard Skills</h2>
        <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
        <br>
      </div>
    <div class="row">
        <div class="col-md-3">
            <h5 class="progressbar-title">HTML5</h5>
            <div class="progress-circle progress-50"><span>50</span>
            </div>  
            <br>
            <app-edit-hardskills *ngIf="this.router.url === '/dashboard'"></app-edit-hardskills> <br> <app-eliminar *ngIf="this.router.url === '/dashboard'"></app-eliminar>
        </div>
        <div class="col-md-3">
            <h5 class="progressbar-title">CSS3</h5>
            <div class="progress-circle progress-60"><span>60</span>
            </div> 
            <br>
            <app-edit-hardskills *ngIf="this.router.url === '/dashboard'"></app-edit-hardskills> <br> <app-eliminar *ngIf="this.router.url === '/dashboard'"></app-eliminar>
          </div> 
                
          <div class="col-md-3">
            <h5 class="progressbar-title">JavaScript</h5>
            <div class="progress-circle progress-30"><span>30</span>
            </div>  
            <br>
            <app-edit-hardskills *ngIf="this.router.url === '/dashboard'"></app-edit-hardskills> <br> <app-eliminar *ngIf="this.router.url === '/dashboard'"></app-eliminar>
            </div>

            <div class="col-md-3">
            <h5 class="progressbar-title">Photoshop</h5>
            <div class="progress-circle progress-40"><span>40</span>
            </div> 
            <br>
            <app-edit-hardskills *ngIf="this.router.url === '/dashboard'"></app-edit-hardskills> <br> <app-eliminar *ngIf="this.router.url === '/dashboard'"></app-eliminar>
          </div> 
    </div>
</div>
</section>
<!-- End Skills Section -->
<br>
<br>
<br>