<section id="skills" class="skills section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Hard Skills</h2>
        <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
        <br>
      </div>
    <div class="row">
        <div *ngFor="let skills of porcentaje" class="col-md-3">
            <h5 class="progressbar-title">{{skills.titulo}}</h5>
            <div class="progress-circle progress-{{skills.progreso}}"><span>{{skills.progreso}}</span>
            </div>  
            <br>
            <app-edit-hardskills></app-edit-hardskills> <br> 
        </div>
    </div>
</div>
</section>
<!-- End Skills Section -->
<br>
<br>
<br>