/* Modal*/
.modal-header {
    background-color:#888888;
}
.modal-body {
    background-color:  #eae7e4;
}
.modal-footer {
    background-color:  #eae7e4 !important;
}
.error{
    color: fuchsia;
  }
  
  .border-danger{
    border-color: fuchsia!important;
  }