<i class="fa-regular fa-trash-can"  type="button" data-bs-toggle="modal" data-bs-target="#modal4"></i>
<!--Modal de Eliminacion-->
<div class="modal" id="modal4" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Eliminar</h3>
          <span aria-hidden="true">&times;</span>
          </div>
          <div class="modal-body">
          <p class="delete-text"><strong>¿Estás seguro que deseas eliminar este ítem?</strong></p>
          </div>
       
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button id="delete-task" type="submit" class="delete-task btn btn-danger" >Borrar</button>
          </div>
      </div>
    </div>
</div>
