<!-- ======= Resume Section ======= -->
<section id="resume" class="resume section-bg">
 
    <div class="container">
  
      <div class="section-title">
        <h2>Estudios & Experiencia Laboral</h2>
      </div>
  
      <div class="row">
        <div class="col-lg-6">
          <h3 class="resume-title">Educación</h3>
          <div class="resume-item" *ngFor="let escuelas of educacion">
           <h4> <img [src]="escuelas.img" alt="" width="10%"  class="rounded"> {{ escuelas.instituto }} </h4>
            <h5>{{escuelas.inicio}} - {{escuelas.fin}}</h5>
            <p><em>{{escuelas.descripcion}}</em></p>
            <p>{{escuelas.especializacion}} <br>
              <app-editresume></app-editresume> <br> <app-eliminar></app-eliminar></p>
          </div>
        </div>
          
        <div class="col-lg-6">
          <h3 class="resume-title">Experiencia Profesional</h3>
          <div *ngFor="let trabajos of trabajo" class="resume-item">
            <h4> <img [src]="trabajos.img" alt="" width="10%"  class="rounded"> {{trabajos.nombre}}</h4>
            <h5>{{trabajos.inicio}} - {{trabajos.fin}}</h5>
            <p><em>{{trabajos.localidad}} </em></p>  
            <ul>
              <li>{{trabajos.tag1}}</li>
              <li *ngIf="trabajos.id == 5 ">{{trabajos.tag3}}</li>
              <li *ngIf="trabajos.id == 5">{{trabajos.tag4}}</li>
              <li>{{trabajos.tag2}} <br>
                <app-editresume></app-editresume> <br> <app-eliminar></app-eliminar></li>

            </ul>
          </div>
        </div>
      </div>
    </div>
</section>
  <!-- End Resume Section -->
  <br>
  <br>
  <br>


<!--
  * ngFor ="let hero of superHeroes" (click) ="onSelect(hero)"
      <div ngFor ="let educacion of resume" class="resume-item">
        <h4> <img [src]="educacion.imagen" alt="educacion.nombreimagen" width="10%"  class="rounded"> {{escuela.nombre}}</h4>
        <h5>{{escuela.inicio}} {{escuela.fin}}</h5>
        <p><em>{{escuela.titulo}}</em></p>
        <p>{{escuela.descripcion}} <br>
          <app-editresume></app-editresume> <br> <app-eliminar></app-eliminar></p>
      </div>
      -->